@{
    ViewData["Title"] = "Главная";
}

<style>
    p.mt {
        margin-top: 50px;
    }
</style>

<div class="text-center">
    <h1 class="display-4"> Лабораторки по ТРПО <br> "Инвентаризация компьютерной техники"</h1>

</div>

<div class="text-left">
    <p class="mt"> Лаба 1. ПУБЛИКАЦИЯ ПРОЕКТА В GITHUB</p>
    <p> Лаба 2. ДОБАВЛЕНИЕ КЛАССОВ МОДЕЛЕЙ И БД</p>
    <p> Лаба 3. ДОБАВЛЕНИЕ КОНТРОЛЛЕРОВ И ПРЕДСТАВЛЕНИЙ. РАБОТА С БД</p>
    <p> Лаба 4. АУТЕНТИФИКАЦИЯ И АВТОРИЗАЦИЯ</p>
    <p> Лаба 5. AJAX</p>
    <p> Лаба 6. UNIT ТЕСТИРОВАНИЕ</p>
</div>
