@{
    ViewData["Title"] = "Лабораторка № 3";
}

<div class="text-center">
    <h1 class="display-4"> Лабораторка № 3</h1>

</div>

<div class="text-left">
    <p> Функциональность из мин. требований:</p>
    <ul>
        <li>Отслеживание перемещений</li>
        <li>Расход выданных материалов</li>
        <li>Учет сотрудников</li>
        <li>Учет оборудования</li>
    </ul>
    
</div>
