@{
    ViewData["Title"] = "Главная";
}

<style>
    p.mt {
        margin-top: 50px;
    }
</style>

<div class="text-center">
    <h1 class="display-4"> Лабораторки по ТРПО <br> "Инвентаризация компьютерной техники"</h1>

</div>

<div class="text-left">
    <p class="mt"><a href="https://github.com/Vikuxa/WebApplication3">Лаба 1. ПУБЛИКАЦИЯ ПРОЕКТА В GITHUB</a> </p>
    <p> Лаба 2. ДОБАВЛЕНИЕ <a href="https://github.com/Vikuxa/WebApplication3/tree/master/Models">КЛАССОВ МОДЕЛЕЙ</a> И <a href="https://drive.google.com/drive/folders/1Cs2BrXMRYVScMjEXF0z5crqRrBVDE6Jr?usp=sharing">БД</a></p>
    <p> Лаба 3. ДОБАВЛЕНИЕ КОНТРОЛЛЕРОВ И ПРЕДСТАВЛЕНИЙ. РАБОТА С БД</p>
    <p> Лаба 4. АУТЕНТИФИКАЦИЯ И АВТОРИЗАЦИЯ</p>
    <p> Лаба 5. AJAX</p>
    <p> Лаба 6. UNIT ТЕСТИРОВАНИЕ</p>
</div>
