@{
    ViewData["Title"] = "Лабораторка № 3";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: 'Century Gothic' "> Лабораторка № 3</h1>

</div>

<div class="text-left">
    <p style="font-size: 28px; font-family: 'Century Gothic' "> Функциональность из мин. требований:</p>
    <ul style="font-size: 20px; font-family: 'Century Gothic' ">
        <li>Отслеживание перемещений</li>
        <li>Расход выданных материалов</li>
        <li>Учет сотрудников</li>
        <li>Учет оборудования</li>
    </ul>
    
</div>
